.container {
  border: 1px solid rgba(136, 93, 241, 0.3);
  border-radius: 10px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 600px;
  margin: 30px auto;
  max-width: 800px;
}

.leftside,
.rightside {
  width: 100%;
}

.leftside {
  background: rgba(54, 19, 128, 0.2);
  display: inline-block;
  height: 600px;
  position: relative;
  width: 500px;
}

.rightside {
  background: rgba(65, 45, 117, 0.2);
  display: inline-block;
  height: 600px;
  position: relative;
  width: 298px;
}
#daily {
  list-style: none;
  position: relative;
  top: 180px;
}

#weather-details {
  list-style: none;
  position: relative;
  top: 80px;
}

#currcity,
#curricon,
#currtime,
#currcondition {
  position: relative;
  top: 400px;
  left: 60px;
  padding-bottom: 5px;
}

#currcondition,
#curricon {
  font-size: 20px;
  line-height: 22px;
}

#currcity {
  font-size: 40px;
  text-align: center;
}

#currtime {
  font-size: 15px;
}

#currtemp {
  font-size: 50px;
  left: 50px;
  line-height: 50px;
  position: relative;
  top: 450px;
}

#celsius {
  font-size: 20px;
  position: absolute;
  left: 100px;
  top: 448px;
  transition: all 150ms linear ease-in-out;
}

#divisor {
  position: absolute;
  left: 105px;
  top: 456px;
}
#fahrenheit {
  font-size: 20px;
  position: absolute;
  left: 100px;
  top: 473px;
  transition: all 150ms linear ease-in-out;
}
a {
  text-decoration: none;
  color: #fff;
}

#currcity {
  font-size: 24px;
  line-height: 25px;
}
#search-form-text,
#search-button,
#search-location-button {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(136, 93, 241, 0.3);
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
}

#search-form-text,
.placeholder {
  margin-top: 15px;
  margin-left: 20px;
  color: #fff;
}
#search-button {
  margin-top: 15px;
  margin-left: 215px;
  transition: all 150ms linear ease-in-out;
}

#search-location-button {
  margin-top: 15px;
  margin-left: 254px;
  transition: all 150ms linear ease-in-out;
}

#search-location-button:hover,
#search-button:hover,
#open-source:hover,
#linkedin:hover,
#day-one:hover,
#day-two:hover,
#day-three:hover,
#day-four:hover,
#day-five:hover,
a:hover {
  cursor: pointer;
  color: #885df1;
}

#day-one,
#day-two,
#day-three,
#day-four,
#day-five {
  padding-bottom: 10px;
  border: 1px solid rgba(136, 93, 241, 0.3);
  border-radius: 10px;
  margin-top: 5px;
  transition: all 150ms linear ease-in-out;
}

ul {
  padding-left: 20px;
  margin: 15px;
}
#open-source,
#linkedin {
  color: rgba(136, 93, 241, 0.3);
  font-size: 17px;
  transition: all 150ms linear ease-in-out;
}
.links {
  color: rgba(136, 93, 241, 0.3);
  font-size: 17px;
  position: absolute;
  left: 469px;
  top: 640px;
}
