ul {
  list-style: none;
  padding: 0;
  margin: 15px;
}
li {
  padding: 5px, 10px;
  margin: 0;
  text-align: center;
}
.container {
  border: 1px solid rgba(136, 93, 241, 0.3);
  border-radius: 10px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
  color: #fff;
  height: 600px;
  margin: 30px auto;
  max-width: 700px;
}

.leftside,
.rightside {
  width: 100%;
}

.leftside {
  background: rgba(54, 19, 128, 0.2);
  display: inline-block;
  height: 600px;
  position: relative;
  width: 400px;
  margin: 0;
}

.rightside {
  background: rgba(65, 45, 117, 0.2);
  display: inline-block;
  height: 600px;
  position: relative;
  width: 298px;
}
#daily {
  position: relative;
  top: 100px;
}
hr {
  position: relative;
  top: 110px;
}
#weather-details-title {
  position: relative;
  top: 116px;
  left: 138px;
}
#weather-details-grid {
  position: relative;
  top: 106px;
  text-align: center;
}

#celsius-link {
  position: absolute;
  left: 117px;
  top: 125px;
  transition: all 150ms linear ease-in-out;
}
#divisor {
  position: absolute;
  left: 120px;
  top: 135px;
}
#fahrenheit-link {
  position: absolute;
  left: 118px;
  top: 162px;
  transition: all 150ms linear ease-in-out;
}
#units {
  text-decoration: none;
  color: #fff;
}
/*
#fahrenheit-link,
#celsius-link {
  text-decoration: none;
  color: #fff;
}
*/
.weather-temperature .active {
  color: #000;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

#icon-condition {
  top: 87px;
  position: absolute;
  left: 250px;
}

#currcondition {
  font-size: 20px;
}

/*#icon {
  position: relative;
}*/

#currcondition::first-letter {
  text-transform: capitalize;
}

#currcity {
  position: relative;
  font-size: 40px;
  text-align: center;
  top: 0px;
}

#currtime {
  font-size: 15px;
  position: relative;
  text-align: center;
  top: -11px;
}

#currtemp {
  font-size: 60px;
  left: 50px;
  position: relative;
  top: 10px;
}

#search-form-text,
#search-button,
#search-location-button {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(136, 93, 241, 0.3);
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  position: absolute;
}

#search-form-text,
.placeholder {
  margin-top: 15px;
  margin-left: 20px;
  color: #fff;
}
#search-button {
  margin-top: 15px;
  margin-left: 215px;
  transition: all 150ms linear ease-in-out;
}

#search-location-button {
  margin-top: 15px;
  margin-left: 254px;
  transition: all 150ms linear ease-in-out;
}

#search-location-button:hover,
#search-button:hover,
#day-one:hover {
  cursor: pointer;
  color: #885df1;
}

#day-one {
  position: relative;
  top: 14px;
  padding-bottom: 10px;
  border: 1px solid rgba(136, 93, 241, 0.3);
  border-radius: 10px;
  margin-top: 10px;
  transition: all 150ms linear ease-in-out;
}

#open-source,
#linkedin {
  color: #885df1;
  font-size: 17px;
  text-decoration: none;
  transition: all 150ms linear ease-in-out;
}
#open-source:hover,
#linkedin:hover {
  cursor: pointer;
  color: rgba(136, 93, 241, 0.3);
}
.links {
  color: rgba(136, 93, 241, 0.3);
  font-size: 17px;
  position: absolute;
  text-align: center;
  top: 640px;
}
